* {
    font-family: "HelveticaNeue-Light", Arial;
}

body {
    margin: 0;
    padding: 0;
    min-height: 750px;
}

body ul {
  list-style-type: none;
  padding: 0;
  -webkit-padding-start: 0px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

body a {
  color: black;
  text-decoration: none;
}

.grid {
    position: relative;
    text-align: left; 
    width: 100%;
    color: black;
}

.homepage {
    //background-color: #B29980;
}

#utilities {
    height: 100px;
    background: white;
    padding-top: 10px;
    margin-bottom: 0;
}

div.banner {
    // background-color: red;
    background-image: url("../images/coffee-banner.jpg");
    height: 80px;
}

#utilities ul {
    top: 10px;    
    height: 80px;
    width: 100%;
    border-left: 0px;
    vertical-align: bottom;
    border-bottom: 1px solid black;
}

#utilities li {
    width: 25%;
    //height: 100%;
    float: left;
    position: relative;
    left: 10px;
    bottom: 0px;
    //margin-top: 20px;
}

#utilities li:first-child {
    left: 33px;
    margin-top: 0px;
    max-width: 250px;
}

#utilities a {
    text-decoration: none;
}

.icons {
    margin-top: 2px;
    height: 30px;
    width: 30px;
    //text-align: center;
    //vertical-align: bottom;
}

.icons-1 {
    margin-top: 2px;
    height: 55px;
    width: 50px;
    text-align: center;
}

#nav-top {
    //position: relative;
    width: 100%;
    height: 100px;
    float: left;
    clear: none;
}

#nav-top a {
    text-decoration: none;
}

#nav-top .nav_menu {
    margin-left: 0;
    height: auto;
    width: auto;
    clear: both;
    overflow: hidden;
    transition: all 250ms cubic-bezier(.42, 0, .58. 1);
}

#nav-top ul {
    width: 100%;
    padding: 0px;
    position: relative;
    background: none;
    overflow: hidden;
    margin-bottom: 0;
}


#nav-top li {
    width: 33%;
    position: relative;
    display: block;
}

#nav-top li {
    //margin: 0 1px 0 0;
    margin-left: 0px;
    margin-right: 0px;
    float: left;
}

#nav-top li:nth-child(1) {
    text-align: right;
}
#nav-top li:nth-child(2) {
    text-align: center;
}

.loginbody {
    background-color: #B29980;
}

#coffeeapplogin h1 {
    top: -120px;
    width: 100%;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    color: #888;
}

#coffeeapplogin .login {
    width: 350px;
    margin: 45px auto 25px auto;
}

#coffeeapplogin .login h2 {
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 20px;
}

#coffeeapplogin .login input {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px;
    width: 340px;;
}

#coffeeapplogin .login .signup-form {
    margin-top: 25px;
}

#coffeeapplogin .login button {
    padding: 5px 10px;
    background: #eee;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 25px;
    font-family: "Helvetica Neue";
}

#coffeeapplogin .login .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 5px 15px;
    margin-bottom: 15px;
}

#go-homepage {
    text-align: center;
}

.contactbody {
    background-color: #B29980;
}